node_modules/
/playwright/.cache/
/tests-examples/
/playwright/.cache/

config.json

.vscode/
.auth
.env


/playwright-report/
/test-results/
/allure-report/
/playwright-test/
git rm -r --cached allure-results
git rm -r --cached playwright-test