node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/tests-examples/
/playwright-report/
config.json
/tests/e2e/tests/examples.spec.ts/
/tests/e2e/tests/examples
.env
/tests/e2e/utils/testdata.ts